.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home_container {
  height: 100vh;
  /* background-image: url('https://cdn.hipwallpaper.com/i/6/60/J0HGDL.jpg'); */
  /* background-image: url('../src/images/macro-cal.jpg');
  background-size: 100% 100%; */
  /* display: flex; */
  /* justify-content: flex-start; */
  /* border-style: solid;
  border-width: 5px; */
  /* flex-direction: column; */

}

.macro_calc {
padding: 50px;
/* border-style: solid;
border-width: 5px; */
color: #ffffff;
font-size: 20px;
text-shadow: 2px 2px black;
text-shadow: 2px 2px 4px #000000;
 background-image: url('../src/images/macro-cal.jpg');
 background-size: 100% 100%;
}

.macro_calc h1 {
  margin: 0;
}

.inputs_container{
  display: flex;
  flex-direction: column;
  width: 25%;
  
}

.inputs {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    height: 50px;
}


.macro_results {

}
.test {
  border-style: solid;
  border-width: thick;
  /* flex-grow: 1; */
}


